/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: wrap;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context

  #root, #__next {
    isolation: isolate;
      
  }
    */

/* ------- Here ends the reset ------------ */

#headerFlex {
    display: flex;
    text-align: left;
    justify-content: center;
    column-gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 2rem;
    row-gap: 2rem;
}

#headerFlex button {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(blueviolet, rgb(85, 27, 75), blueviolet);
    padding: 10px 30px;
    text-transform: uppercase;
    border-radius: 25px;
    margin-top: 2rem;
    font-size: large;
    font-weight: 500;
    letter-spacing: 1px;
    border-color: #ffffff;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;;
}

#headerFlex button:hover {
  background-image: linear-gradient(rgb(85, 27, 75), blueviolet 80%, rgb(85, 27, 75));
}

header {
    height: fit-content;
    letter-spacing: 1px;
    background-color: rgb(31, 30, 32);
    background-image: linear-gradient(rgba(63, 25, 68, 0.5), rgba(0,0,0,0)), url(./galaxy.jpg);
    color: #ffffff;
    padding-bottom: 30px;
}

nav {
    text-align: right;
    padding-right: 1rem;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(122, 84, 158);
    padding-left: 10px;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgb(169, 30, 173);
}

header h1 {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

nav a:hover {
    color: blueviolet;
    text-transform: lowercase;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

nav a:after {
  color: white;
}

/* -------------- header end -----------------*/

section h2 {
    text-align: center;
    color: rgb(122, 84, 158);
    text-transform: uppercase;
    text-shadow: 1px 1px 1px blueviolet;
}

#gallery .heading {
  padding-top: 2rem;
}

.grid-container {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 1.5rem;
    object-fit: cover;

}

.grid-container img {
  width: 100%;
  border-radius: 10%;

}

#figure7, #figure8 {
  grid-row: 1fr / 1fr;
}

/* --------- grid end --------- */

#services {
    height: fit-content;
    background-color: rgb(211, 180, 240);
    margin-top: 2rem;
}

#services .heading {
  background-image: linear-gradient(to right, rgb(85, 27, 75), 10%, blueviolet 80%, rgb(85, 27, 75));
  text-shadow: 1px 1px 1px rgb(169, 30, 173);
  color: white;
  border-top: 2px;
  border-top-style: ridge;
  border-top-color: rgb(85, 27, 75);
  border-bottom-style: ridge;
  border-bottom-color: blueviolet;
}

#servicesFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 3rem;

}

#servicesFlex img {
  border-radius: 50%;
  width: 100px;
}

/* -----------services ------------*/

#footerFlex {
  display: flex;
    font-size: small;
    height: fit-content;
    text-wrap: wrap;
    background-image: linear-gradient(rgb(53, 51, 54), rgb(32, 31, 31), rgb(0, 0, 0));
    color: #ffffff;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}

#footerItem1 {
  align-self: center;
}

#footerItem2 {
  align-self: flex-end;
  font-size: smaller;
}

footer p {
  max-width: 50ch;
}

/* --------- media -------------- */

@media (max-width: 600px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr); /* One column for smaller screens */
  }
  #servicesFlex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 360px) {
  .grid-container {
      grid-template-columns: repeat(1, 1fr); /* One column for smaller screens */
  }

}

